.navbar {
  position: absolute;
  z-index: 20;
  width: 100%;
  background-color: #e6e6e6;
  padding: 0.5rem 2rem 0.5rem 17rem;
  display: flex;
  align-items: center;
}

.menulist {
  gap: 30px;
  display: flex;
  flex-direction: row;
  margin-right: 40px;
  height: max-content;
}

.probtn {
  .button {
    background-color: transparent !important;
    border: none;
    padding-left: 8px !important;
  }
  .button:active {
    border: none;
  }
}
